#about-me
	padding: 20px 0
.heading
	font:
		size: 1.3rem
		weight: 600
	margin: 20px 0 0
.info
	margin: 1em 0
.short-info
	&:before,&:after
		content: ''
		display: block
		clear: both
	.fa
		margin-right: 10px
		color: $main-color
.white-section
	background-color: $white-section
	opacity: .8

/*------ RESPONSIVE ------*/
@include tablet
	.heading
		margin: 0
@include mobile
	header
		text-align: center

