#skill-list
  margin-bottom: 1em
  h4
    margin: 20px 0
  .fa
    color: $main-color
.skill-group
  padding-bottom: 10px
  .skill-name
    display: block
    margin: 0 20px 20px 0
    font-size: 1rem
    font-weight: 900
    text-transform: uppercase
  .skill
    display: flex
    flex-wrap: wrap
    line-height: 30px
  .skill-item
    background: $main-color
    padding: 5px 10px
    border-radius: 10px
    color: $white
    margin: 0 10px 10px 0
// .skill
// 	margin: 0 0 20px 10px
// .progess
// 	width: 100%
// 	height: 5px
// 	border-radius: 10px
// 	span
// 		width: 14%
// 		height: inherit
// 		background-color: $skill-bar
// 		display: block
// 		float: left
// 		margin-right: 2%
// .p4 span:nth-child(n+5)
// 	background-color: $gray-color
// .p5 span:nth-child(n+6)
// 	background-color: $gray-color
// .p3 span:nth-child(n+4)
// 	background-color: $gray-color

/*------ RESPONSIVE ------*/
@include mobile
  .row
    margin-right: 0
  .center
    text-align: center
  