.heading-wrapper.center
  h2.heading about me
hr.divider
.short-info
  p  
    i.fa.fa-angle-right
    | I'm a Front-end developer with 1+ year of experience, mainly working on ReactJS ecosystem.
  p  
    i.fa.fa-angle-right
    | A person who play or work well as a member of a team. I can do some mentoring tasks and code reviewing for other members.
  p  
    i.fa.fa-angle-right
    | Researching new technologies is what I am passionate about, self-trained and sharing knowleadge with others.