.short-info
  p  
    i.fas.fa-circle.fa-xs
    | A Front-end developer with severals year of experience, mainly working on ReactJS ecosystem.
  p  
    i.fas.fa-circle.fa-xs
    | A person who play or work well as a member of a team. I can do some mentoring tasks and code reviewing for other members.
  p  
    i.fas.fa-circle.fa-xs
    | Researching new technologies is what I am passionate about, self-trained and sharing knowleadge with others.