.row.contact-wrapper
  a(href="mailto:hoanganhtuan.ou@gmail.com").contact-info
    i.fas.fa-envelope
    |hoanganhtuan.ou@gmail.com
  a(href="https://www.facebook.com/hoang.tuan.3701779").contact-info
    i.fab.fa-facebook-square
    | Hoang Tuan
  p
    i.fas.fa-mobile-alt
    | 0931 140 542
  p
    i.fas.fa-map-marker-alt
    | Q.Gò Vấp, TP.HCM