.row.contact-wrapper
  //- a(href="mailto:hoanganhtuan.ou@gmail.com").contact-info
  //-   i.fas.fa-envelope
  //-   | hoanganhtuan.ou@gmail.com
  //- p
  //-   i.fas.fa-mobile-alt
  //-   | (+84) 931 140 542
  p
    a(href="mailto:hoanganhtuan.ou@gmail.com").contact-info
      i.fas.fa-envelope
    i.fab.fa-skype
    | hoanganhtuan.ou@gmail.com