.heading-wrapper.center
  h2.heading education
hr.divider
p
  i.fa.fa-clock-o
  |2010 - 2012 
  br 
  span.edu-loc Nguyễn Công Trứ High School
p
  i.fa.fa-clock-o
  |2012 - 2016 
  br 
  span.edu-loc Infomation Technology @ HCMC Open Universiry
p
  i.fa.fa-clock-o
  |06.2016 - Present
  br 
  span.edu-loc Selt-study Front-end Development
.projects-section
  .heading-wrapper
    h2.heading projects
  a(href="projects/laresto/index.html").projects
    img(src="src/assets/images/laresto.png")
  a(href="projects/omnifood/index.html").projects
    img(src="src/assets/images/omnifood.png")