h2.heading work experiences
hr.divider
div.company-wrapper
  h2 Sutrix Solutions
  p May 2017 - Present
    div.project-wrapper
      h4.project-name
        span.underline Edetailing
        | (ReactJS, Redux, Redux-Saga, Immutable, Cordova, SQLite)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | A mobile application that helps sales prepare the presentation and analytics informations to determine the marketing strategy for their clients.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Interacted with the client to improve the user experience of the application, collaborating closely with Back-end team to integrating API and QC team to ensure the users won't meet any issues while using.
    div.project-wrapper
      h4.project-name
        span.underline YogaWork
        | (React Native, Redux, Redux-Saga, Immutable)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | A mobile application that help users plan and schedule suitable yoga classes, view ongoing promotions, as well as view location and contact information.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Cooperate closely with the client and keep in the loop with Project Mananager to understand the client's desires and bring them to real life, ensure mobile app run smoothly on both Android And IOS.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Config CI (Continuous Integration) for automation build, deploy.
    div.project-wrapper
      h4.project-name
        span.underline Laava
        | (ReactJS, Redux, GraphQL)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | A web application that help client's desinger to build HTML templates for mobile app.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Communicate with client to get clear requirements, research GrapesJS library to develop features match with client desires.
    div.project-wrapper
      h4.project-name
        span.underline CanopyLab
        | (ReactJS, Redux, Redux-Thunk)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | A learning platform on top of a social network structure with a feature similar to the major social network (Facebook).
        li.task-item
          i.fas.fa-plus.fa-xs
          | Communicate with client and Project Mananager to make requirements clearly and develop new features, also worked extensively with UI designer to make beautiful UI, easy to use.
    div.project-wrapper
      h4.project-name
        span.underline M1
        | (React Native, Redux, Redux-Thunk)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | A mobile application that help users monitor usages, subscribe for M1 mobile data plan or view and pay bill easily.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Working directly with the crew from Singapore. Take responsibility to develop new features, keep in the loop with Business Analyst to ensure all features meet the client's desires.