.heading-wrapper.center
  h2.heading employment history
hr.divider
div.company-wrapper
  h2 Front end Developer at Sutrix Solutions
  p May 2017 - Present
    div.project-wrapper
      h4.project-name
        span.underline Edetailing
        | (ReactJS, Redux, Saga, Cordova, SQLite)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | Responsible for bringing mockups to life.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Collaborating closely with Back-end team to integrating API.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Discuss with team leader about technical issues to find the best solution.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Verify and fix bugs reported by QC team.
    div.project-wrapper
      h4.project-name
        span.underline YogaWork
        | (React Native, Redux, Saga)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | Managing a team of 3 members, technical issues solving support.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Communicate with client and Project Mananager to clear requirements.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Config CI (Continuous Integration) for automation build, deploy.
    div.project-wrapper
      h4.project-name
        span.underline Laava
        | (ReactJS, Redux, GraphQL)
      ul.tasks
        li.task-item
          i.fas.fa-plus.fa-xs
          | Managing a team of 3 members, technical issues solving support.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Communicate with client and Project Mananager to clear requirements.
        li.task-item
          i.fas.fa-plus.fa-xs
          | Research GrapesJS library for applying to project.