.container.center
  .section-wrapper.white-section.row
    .avatar.col-sm-2.col-xs-12
      img(src="src/assets/images/avatar-1.jpg")
    div.name.col-sm-9.col-xs-12
      h1 Trần Hoàng Anh Tuấn
      h3 frontend developer