h2.heading skills
hr.divider
.row
  .col-sm-6
    .skill-group
      span.skill-name programming languages:
      span.skill
        span.skill-item Javascript
        span.skill-item HTML
        span.skill-item CSS
  .col-sm-6
    .skill-group
      span.skill-name frameworks & libraries:
      span.skill
        span.skill-item ReactJS
        span.skill-item Redux
        span.skill-item Redux-Saga
        span.skill-item React Native
        span.skill-item Immutable
        span.skill-item VueJS
  //- .col-sm-6
  //-   .skill-group
  //-     span.skill-name version control:
  //-     span.skill
  //-       span.skill-item Git
    //- .skill-group
    //-   span.skill-name Others:
    //-   span.skill
    //-     span.skill-item Time management
    //-     span.skill-item Self-motivated
    //-     span.skill-item Team oriented
