.heading-wrapper.center
  h2.heading skills
hr.divider
.row
  .col-sm-6
    .skill-group
      span.skill-name programming languages:
      span.skill
        i.fas.fa-circle.fa-xs
        | HTML, CSS, Javascript
    .skill-group
      span.skill-name frameworks & platforms:
      span.skill
        i.fas.fa-circle.fa-xs
        | ReactJS, Redux, Saga, React Native
  .col-sm-6
    .skill-group
      span.skill-name version control:
      span.skill
        i.fas.fa-circle.fa-xs
        | Git
    .skill-group
      span.skill-name Others:
      span.skill
        i.fas.fa-circle.fa-xs
        | Time management
      span.skill
        i.fas.fa-circle.fa-xs
        | Self-motivated
      span.skill
        i.fas.fa-circle.fa-xs
        | Team oriented
