doctype html
html
  head
    meta(name="viewport",content="width=device-width,initial-scale=1.0", http-equiv="Content-Type", charset="UTF-8")
    title Hoang Tuan Resume

    //- FONTAWESOME
    link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
    //- VENDORS
    link(rel="stylesheet",href="vendors/css/bootstrap.min.css")
    link(rel="stylesheet",href="vendors/css/normalize.css")
    link(rel="stylesheet",href="vendors/css/reset.css")
    //- INDEX.CSS
    link(rel="stylesheet",href="src/css/index.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js", integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/", crossorigin="anonymous")
    script(src="src/js/html2canvas.min.js")
  body
    div#content
      include ./includes/head.pug
      .container
        //- CONTACT INFO
        section.section-wrapper.white-section
          include ./includes/contact.pug
        //- ABOUTME
        section.section-wrapper.white-section
          include ./includes/about.pug
        //- SKILLS
        section.section-wrapper.white-section
          include ./includes/skill.pug
        section.section-wrapper.white-section
          include ./includes/empHistory.pug
            
      //- hr.divider
      //- footer Handcrafted by HoangTuan &copy; 2016. All rights reserved.
    //- div#editor
    //- button#cmd Download
  script(src="src/js/index.js")
