doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0")
		title Hoang Tuan CV

		//- FONT
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro&amp;subset=vietnamese",rel="stylesheet")
		//- FONTAWESOME
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		//- VENDORS
		link(rel="stylesheet",href="vendors/css/bootstrap.min.css")
		link(rel="stylesheet",href="vendors/css/normalize.css")
		link(rel="stylesheet",href="vendors/css/reset.css")
		//- INDEX.CSS
		link(rel="stylesheet",href="src/css/index.css")
	body
		header
			.container
				.avatar.col-sm-2.col-xs-12
					img(src="src/img/avatar-1.jpg")
				div.name.col-sm-9.col-xs-12
					h1 Trần Hoàng Anh Tuấn
					h3 front-end fresher developer
		.container.white-section
			//- ABOUTME
			section#about-me
				.info
					.row
						.col-sm-3
							p
								i.fa.fa-user
								| Man
							p
								i.fa.fa-calendar
								| 19-11-1994
						.col-sm-4
							a(href="mailto:hoanganhtuan.ou@gmail.com").contact-info
								i.fa.fa-envelope-o
								|hoanganhtuan.ou@gmail.com
							a(href="http:/www.facebook.com/hoang.tuan.3701779").contact-info
								i.fa.fa-facebook
								| http://fb.com/hoangtuan
						.col-sm-5
							p
								i.fa.fa-phone
								| 01866 779 541
							p
								i.fa.fa-map-marker
								| Đường Lê Đức Thọ, F.13, Q.Gò Vấp
				hr.divider
				.heading-wrapper
					h2.heading about me
				.short-info
					p  
						i.fa.fa-angle-right
						| I'm a fresh graduate student in Information Technology. A person who like programming and create beautiful websites.
					p  
						i.fa.fa-angle-right
						| I was self-taught programming languages on the front-end. My goal is to become a expert front-end developer.
					p  
						i.fa.fa-angle-right
						| Research new technologies, self-trained and sharing knowleadge with others. Responsility for created products.
				
			//- SKILLS
			section#skill-list
				.row
					.col-sm-6
						.heading-wrapper
							h2.heading my skill
						.skill
							.skill-name html/css/js
							.progess.p4
								span
								span
								span
								span
								span
								span
						.skill
							.skill-name learning
							.progess.p5
								span
								span
								span
								span
								span
								span
						.skill
							.skill-name photoshop
							.progess.p3
								span
								span
								span
								span
								span
								span
						.skill
							.skill-name git
							.progess.p4
								span
								span
								span
								span
								span
								span
						h4
							i.fa.fa-certificate
							|Hands-on experience:
						.text-center
							.col-sm-6
								img(src="src/img/bootstrap.png")
							.col-sm-6
								img(src="src/img/sass.png")
							.col-sm-6
								img(src="src/img/jquery.png")
							.col-sm-6
								img(src="src/img/gulp.png")
					.col-sm-6
						.heading-wrapper
							h2.heading education
						p
							i.fa.fa-clock-o
							|2010 - 2012 
							br 
							span.edu-loc Nguyễn Công Trứ High School
						p
							i.fa.fa-clock-o
							|2012 - 2016 
							br 
							span.edu-loc Infomation Technology @ HCMC Open Universiry
						p
							i.fa.fa-clock-o
							|06.2016 - Present
							br 
							span.edu-loc Selt-study Front-end Development
						.projects-section
							.heading-wrapper
								h2.heading projects
							a(href="projects/laresto/index.html").projects
								img(src="src/img/laresto.png")
							a(href="projects/omnifood/index.html").projects
								img(src="src/img/omnifood.png")
					
			hr.divider
			footer Handcrafted by HoangTuan &copy; 2016. All rights reserved.








				

						









